.header-burger-town:hover {
    color: red;
    font-size: 2.3em;
    cursor: pointer;
}

.span-burger-town:active {
    color: blue;
}

.img-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.img-burger {
    max-width: 40%;
    border-radius: 4px;
}

.header-rice:active:target {
    color: green;
    cursor: pointer;
}

:target {
    color: peru;
}